[submodule ".vim/pack/plugins/start/vim-sexp"]
	path = .vim/pack/plugins/opt/vim-sexp
	url = git@github.com:guns/vim-sexp.git
[submodule ".vim/pack/plugins/start/ale"]
	path = .vim/pack/plugins/opt/ale
	url = https://github.com/dense-analysis/ale.git
[submodule ".vim/pack/plugins/start/fzf"]
	path = .vim/pack/plugins/opt/fzf
	url = git@github.com:junegunn/fzf.git
[submodule ".vim/pack/plugins/start/fzf.vim"]
	path = .vim/pack/plugins/opt/fzf.vim
	url = git@github.com:junegunn/fzf.vim.git
[submodule ".vim/pack/plugins/start/vim-sneak"]
	path = .vim/pack/plugins/opt/vim-sneak
	url = git@github.com:justinmk/vim-sneak.git
[submodule ".vim/pack/plugins/start/fireplace"]
	path = .vim/pack/plugins/opt/fireplace
	url = https://tpope.io/vim/fireplace.git
[submodule ".vim/pack/plugins/start/sensible"]
	path = .vim/pack/plugins/opt/sensible
	url = https://tpope.io/vim/sensible.git
[submodule ".vim/pack/plugins/start/sleuth"]
	path = .vim/pack/plugins/opt/sleuth
	url = https://tpope.io/vim/sleuth.git
[submodule ".vim/pack/plugins/start/surround"]
	path = .vim/pack/plugins/opt/surround
	url = https://tpope.io/vim/surround.git
[submodule ".vim/pack/plugins/start/unimpaired"]
	path = .vim/pack/plugins/opt/unimpaired
	url = https://tpope.io/vim/unimpaired.git
[submodule ".vim/pack/plugins/start/vim-repeat"]
	path = .vim/pack/plugins/opt/vim-repeat
	url = git@github.com:tpope/vim-repeat.git
[submodule ".vim/pack/plugins/start/vim-sexp-mappings-for-regular-people"]
	path = .vim/pack/plugins/opt/vim-sexp-mappings-for-regular-people
	url = https://github.com/tpope/vim-sexp-mappings-for-regular-people.git
[submodule ".vim/pack/plugins/opt/conjure"]
	path = .vim/pack/plugins/opt/conjure
	url = https://github.com/Olical/conjure.git
	branch = main
[submodule ".vim/pack/plugins/opt/vscode.nvim"]
	path = .vim/pack/plugins/opt/vscode.nvim
	url = https://github.com/Mofiqul/vscode.nvim.git
[submodule ".vim/pack/plugins/opt/vim-vinegar"]
	path = .vim/pack/plugins/opt/vim-vinegar
	url = https://github.com/tpope/vim-vinegar.git
[submodule ".vim/pack/plugins/opt/vim-fugitive"]
	path = .vim/pack/plugins/opt/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/pack/plugins/opt/nvim-treesitter"]
	path = .vim/pack/plugins/opt/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter.git
[submodule ".vim/pack/plugins/opt/nvim-lspconfig"]
	path = .vim/pack/plugins/opt/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig.git
[submodule ".vim/pack/plugins/opt/snacks.nvim"]
	path = .vim/pack/plugins/opt/snacks.nvim
	url = https://github.com/folke/snacks.nvim.git
[submodule ".vim/pack/plugins/opt/which-key.nvim"]
	path = .vim/pack/plugins/opt/which-key.nvim
	url = https://github.com/folke/which-key.nvim.git
[submodule ".vim/pack/plugins/opt/mini.icons"]
	path = .vim/pack/plugins/opt/mini.icons
	url = https://github.com/nvim-mini/mini.icons.git
[submodule ".vim/pack/plugins/opt/nvim-web-devicons"]
	path = .vim/pack/plugins/opt/nvim-web-devicons
	url = https://github.com/nvim-tree/nvim-web-devicons.git
[submodule ".vim/pack/plugins/opt/vim-rsi"]
	path = .vim/pack/plugins/opt/vim-rsi
	url = https://github.com/tpope/vim-rsi.git
[submodule ".vim/pack/plugins/opt/blink.cmp"]
	path = .vim/pack/plugins/opt/blink.cmp
	url = https://github.com/saghen/blink.cmp.git
