*~
# Folders anywhere
.calva/
.antlr/
.clj-kondo/
.lsp/
.vscode/
tmp/
caches/
.caches/
knorrest/
# Files anywhere
.DS_Store
.env
.envrc
*.swp
*.bak
*.mv.db*
*.out
*.log
* copy*.*
scratch.clj
# Folders relative
/checkouts/
/out/
# Files relative
/tags
# antlr test input
*.input.txt
